h1 {
	font-size: 48px;
}
.post-heading {
	color: #006633;
	font-size: 1.8em;
	text-align: center;
}
#main-nav	{
	font-size: 1.3em;
}
blockquote	{
	color: #33ccff;
	font-size: 1.3em;
}
.hero-image{
float:left;
width:640px;

}
.font1{
	font-style: italic;
	text-align: justify;
	text-indent: 25px;
	margin:10px;
	padding:10px
}
